<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dispensadorfirebase">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <application

        android:name=".app.Myapp"
        android:allowBackup="true"
        android:icon="@drawable/logo_dmr_milrolloreducido"
        android:label="Sistema de Gestion de Turno"
        android:supportsRtl="true"
        android:theme="@style/Theme.DispensadorFirebase">

        <activity
            android:name=".aplicaciones.supervisor.InicioSesion"
            android:exported="true">
        </activity>


        <receiver android:name="com.example.dispensadorfirebase.app.bootapp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".inicio.InicioOpcionDispositivo"
            android:exported="true"
            android:label="Sistema Gestion de Turno"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".aplicaciones.supervisor.Supervisor_Flash"
            android:exported="true"
            android:label="Menu Principal"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".administrador.Menu"
            android:exported="true"
            android:label="Menu Principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aplicaciones.DisplayGrande"
            android:exported="false" />
        <activity
            android:name=".aplicaciones.TabletDispensador"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".inicio.InicioOpcionSectores"
            android:exported="true"
            android:label="Asignar Sectores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inicio.InicioOpcionLocal"
            android:exported="true"
            android:label="Filtrar por nombre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".administrador.AsignarSectoress"
            android:exported="true"
            android:label="Asignacion de Sectores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".administrador.CrearSectores"
            android:exported="true"
            android:label="Crear Sectores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".administrador.CrearLocalDialog"
            android:exported="true"
            android:label="Crear Local"
            android:screenOrientation="portrait" />
        <activity
            android:name=".administrador.ListaLocales"
            android:exported="true"
            android:label="Lista de Locales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aplicaciones.supervisor.Supervisor_Principal"
            android:exported="true"
            android:label="Menu Principal"
            android:screenOrientation="portrait" />

        <service
            android:name=".aplicaciones.supervisor.MyIntentServiceSupervisor"
            android:exported="false" />

        <activity
            android:name=".aplicaciones.DispensadorTurno"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>